# Node dependencies
node_modules/
npm-debug.log*
yarn-error.log

# Env files
.env
.env.local
.env.development
.env.production
server/.env

# Temporary folders
tmp/
server/tmp/
.cache/
dist/
build/
coverage/

# Logs
logs/
*.log
*.csv

# OS / IDE files
.DS_Store
Thumbs.db
.vscode/
.idea/

server/db/node_modules/
# Config Environment GitHub
# .github is tracked to allow workflows to be versioned
server/db/node_modules/