PORT=10000
DATABASE_URL=postgresql://user:pass@host:5432/db
REDIS_URL=rediss://default:...@...:6379
SENDPULSE_API_USER_ID=coloque_sua_chave_aqui
SENDPULSE_API_SECRET=coloque_sua_chave_aqui
SENDPULSE_BOOK_ID=coloque_o_id_do_seu_livro_aqui
SENDPULSE_SENDER_EMAIL=ebooksonthepanel4@gmail.com
SENDPULSE_SENDER_NAME=Ebooks IA
EBOOK_URL=https://diih062.github.io/ebooks-ia/
KIWIFY_SECRET=your_kiwify_secret