# Porta do servidor Express
PORT=3000

# PostgreSQL (usado internamente no Docker)
PGHOST=db
PGUSER=postgres
PGPASSWORD=secret
PGDATABASE=leads
PGPORT=5432

# SendPulse (NÃO colocar valores reais aqui)
SENDPULSE_API_USER_ID=seu_user_id_aqui
SENDPULSE_API_SECRET=seu_secret_aqui
SENDPULSE_TOKEN_STORAGE=./tmp/

SENDPULSE_BOOK_ID=seu_id_da_lista
SENDPULSE_SENDER_EMAIL=seu_email_verificado@dominio.com
EBOOK_URL=https://diih062.github.io/ebooks-ia/

# Redis (para fila)
REDIS_HOST=redis
REDIS_PORT=6379
